# macOS system files
.DS_Store

# Node.js dependencies
node_modules

# IDE and editor files
.idea

# Build outputs
packages/common/dist
backend/dist
frontend/dist

# Environment files
.env

# Lock files
package-lock.json

# Logs
*.log

# TypeScript build info
*.tsbuildinfo

# db files
*.db
