@import "tailwindcss";

@layer base {
  html {
    background-color: #f0f0f0;
    font-family: "Charter", Georgia, serif; /* For body text */
  }

  body {
    font-family: "Inter", Arial, sans-serif; /* For UI elements */
  }
}